
/* this is for the document BG*/
.hello{
  background-color: #FFBF69;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}
/* this is for the navbar color*/
.navbar-custom{
background-color: #FF9F1C;
}
/* So this essentially colors the text for all anchor tags inside the navbar*/
.navbar.navbar-expand-lg.navbar-light.navbar-custom li a {

  font-family: 'Architects Daughter', cursive;
}
.navbar-nav > li > .dropdown-menu{
  background-color: #FF9F1C;
}
.resize
{

    width: 60px;
    height: auto;

}
.navbar-nav li {

background-color: #FFBF69;
border: 6px solid #FF9F1C;
}
.cla{
  background-color: #CBF3F0;
}
td{
  width: 500px;
  height:90px;
}
p{
  text-align: center !important;
  padding: 40px;
  text-align: left;
}
.resize1
{
    text-align: center;
    width: 300px;
    height: auto;
    border: 18px solid #FFBF69

}
.right{
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 50px;
  text-align: left !important;
}
.topgap
{
  padding-top: 30px !important;
}
.footer {
  width: 100%;
  background-color:#FF9F1C ;

}
