table, th, td{
  border: 1px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.white{
  background-color: #FFFFFF !important;
}
.lightblue{
  background-color: #CBF3F0 !important;
}
.aqua{
  background-color: #2EC4B6 !important;
}
.mustard{
  background: #FF9F1C !important;
}
.space{
  margin-bottom: 8px !important;
}
