{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="{%static 'assets/css/swiper-bundle.min.css' %}">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="{%static 'assets/css/styles.css' %}">

    <title>THE CYBERNATION PROJECT</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">The Cybernation Project</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i>Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#owasp" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i>OWASP
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#services" class="nav__link">
                            <i class="uil uil-briefcase nav__icon"></i>For Netizens
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#portfolio" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i>The Top 10 Vulnerabilities
                        </a>
                    </li>

                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>

            </div>

            <div class="nav__btns">




            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__content grid">
                    <div class="home__social">

                    </div>

                    <div class="home__img">
                        <img src="{%static 'assets/img/logoh.png' %}" alt="">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">The<br>Cybernation <br> Project </h1>
                        <h3 class="home__subtitle">This website is to serve as an information source about the most popular attack forms that are utilized to compromise web applications.</h3>

                        <a href="#portfolio" class="button button-flex">
                            Vulnerabilities <i class="uil uil-message button__icon"></i>
                        </a>
                    </div>
                </div>
                <div class="home__scroll">
                    <a href="#about" class="home__scroll-button button--flex">

                        <span class="home__scroll-name">Scroll down</span>
                        <i class="uil uil-arrow-down home__scroll-arrow"></i>
                    </a>
                </div>
            </div>
        </section>

        <!--==================== ABOUT ====================-->
        <section class="about section" id="about">
            <h2 class="section__title">About</h2>
            <span class="section__subtitle">Introduction</span>

            <div class="about__container container grid">
                <img src="assets/img/IMJ.png" alt="" class="about__img">

                <div class="about__data">
                    <p class="about__description">
                        This website is to serve as an information source about the most popular attack forms that are utilized to compromise web applications.
                        The information regarding the target vectors has been obtained from the OWASP top 10 2019 list. The website has separate pages created
                        exploring each of the vulnerabilities and where possible, hackable interfaces have also been provided to help novices get an idea about how attacks are actually carried out. A seaparate section has also been created for netizens or everyday internet users to emphasize some of the healthy practices they can adopt to be free from attacks in the cyber space.
                    </p>



                    <div class="about__buttons">

                    </div>
                </div>
            </div>

        </section>

        <!--==================== OWASP ====================-->
        <section class="owasp section" id="owasp">
            <h2 class="section__title">OWASP</h2>
            <span class="section__subtitle">Open Web Application Security Project</span>

            <div class="owasp__container container grid">
                <img src="{%static 'assets/img/owasp_logo_1c.png' %}" alt="" class="owasp__img">

                <div class="owasp__data">
                    <p class="owasp__description">
                        OWASP is an acronym that stands for Open Web Application security project. This is a non-profit organization with the goal to improve software security. Their main objective is to create open source projects and hold educational/ training oriented conferences about securing the web. The organization is about two decades old and focuses primarily on providing developers and technologists with materials such as tools and resources to secure the web. Some of the notable contributions of this organization are the spotlight project of OWASP titled Mobile Security Testing Guide or MSTG for short and the OWASP top 10.
                    </p>
                    <p>
                        The OWASP top 10 is perhaps the most widely known and highly valuable contribution of this organization to the world of web application security. This is a regularly updated report created every year by a curated team of top security professionals from all over the world. The OWASP top 10 outlines the main concerns for web application security. It serves as an awareness report and OWASP recommends that all organizations that have associated web applications should incorporate them into their framework. This document serves to mitigate security risks or at the very least minimize them. Every year it focuses on the top 10 most critical risks both in terms of volume and the extent of damage that they can cause to the associated organization.
                    </p>



                    <div class="owasp__buttons">

                    </div>
                </div>
            </div>

        </section>




        <!--==================== Netizens ====================-->
        <section class="services section" id="services">
            <h2 class="section__title">For Netizens</h2>
            <span class="section__subtitle">10 Tips for Browsing Safely</span>

            <div class="services__container container grid">
        <!--==================== N1 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-laptop services__icon"></i>
                <h3 class="services__title">Keep your browser <br> and any plugins updated</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Keep your browser<br> and any plugins updated</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Web browsers are often your first point of contact with the internet no matter what device you are using.</p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Developers release frequent updates to ensure you can experience the latest the web has to offer – more than ever websites are taking advantage of all the new features enabled by HTML5 video and audio, advanced styling and improved speeds. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Many sites have stopped supporting older versions browsers, due to compatibility and security concerns.</p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Hackers often target vulnerabilities in web browsers which is why the companies that make them release regular updates to patch any vulnerabilities.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--====================N2 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-desktop services__icon"></i>
                <h3 class="services__title">Use<br> Developer</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Frontend <br> Developer</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Most modern browsers allow you to create an account so that you can reduce your reliance on search engines and synchronize your bookmarks between your laptop, tablet, and smartphone. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Many even enable you to see the pages you have open in other devices and open them in the device you are using at the time.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== N 3 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-cloud-block services__icon"></i>
                <h3 class="services__title">Block<br> Pop-ups</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Block<br> Pop-ups</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>While desktop pop-ups from your operating system are unavoidable, pop-ups in your web browser can often be switched off.</p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Browser pop-ups typically open new browser windows to push adverts, and while most are just annoying, some can contain malicious links or inappropriate content. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Most browsers come with filters that automatically block pop-ups and enable you to allow them for those trusted sites where they may be advantageous.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
         <!--==================== N 4 ====================-->
         <div class="services__content">
            <div>
                <i class="uil uil-file-block-alt services__icon"></i>
                <h3 class="services__title">Use an <br>ad blocker</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Use an<br> ad blocker</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Pop-up ads and the feeling of ads following you around the internet have led to the rise in popularity of the adblocker. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Ad blockers stop webpages showing you ads, which sounds great until you realize how controversial this subject is and the profound impact it could have on the websites you visit. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Most websites are paid for by ads on a pay per impression basis – so if you have an ad blocker running, you deny the publisher the revenues that are paying to keep the site going. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>By all means, protect yourself using an ad blocker, but do consider whitelisting your favorite sites as the ad revenue is what keeps them in business!</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
         <!--==================== N5 ====================-->
         <div class="services__content">
            <div>
                <i class="uil uil-browser services__icon"></i>
                <h3 class="services__title">Enable  <br> “do not track” <br> in your browser
                </h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Enable  <br> “do not track” <br> in your browser</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Many browsers include the ability to send a “do not track” request to websites which asks them not to collect or track your browsing data. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>However, what happens depends on how the sites respond to the request – but most websites and web servers don’t change their behavior and would appear to ignore the request.</p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Still, making it clear you don’t wish to be tracked is a good start.</p>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
         <!--==================== N6 ====================-->
         <div class="services__content">
            <div>
                <i class="uil uil-web-grid services__icon"></i>
                <h3 class="services__title">Clear your <br>web browser <br> cache and cookies</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Clear your <br>web browser <br> cache and cookies</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Even if websites do decide to track your browsing data, you can limit the impact by regularly clearing your browser cache and deleting unwanted cookies. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p> This prevents ads from following you around the web and can also ensure you have the latest version of a web page downloaded. All major browsers allow you to do this manually,
                                and you can easily clear all your data, but there are also software options that automate the process to make your life easier </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Whichever route you choose to go it may be worth considering whitelisting those sites that you regularly log in to avoid having to re-enter login details constantly.</p>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
         <!--==================== N7 ====================-->
         <div class="services__content">
            <div>
                <i class="uil uil-desktop-alt services__icon"></i>
                <h3 class="services__title">Turn on <br>  private browsing</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Turn on <br>  private browsing</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Private browsing protects your private information and blocks some websites from tracking your search and browsing data.</p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>It won’t hide your activity from your internet service provider, but it does reduce the accumulation of cookies and can be helpful if you are buying presents online for a significant other.</p>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
         <!--==================== N8 ====================-->
         <div class="services__content">
            <div>
                <i class="uil uil-user services__icon"></i>
                <h3 class="services__title">Use a VPN</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Use a VPN</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Virtual proxy networks or VPNs help you maintain your privacy by encrypting your data and internet requests before they ever hit the internet. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>The technology works the same no matter how you have connected to the internet – the encrypted data is sent to the VPN server which decrypts the requests before sending them on to the online destination. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>The information is then sent back through the same process meaning that sites, advertisers and internet service providers can’t track what you are doing. VPNs such as the one included in Panda Dome uses the most secure encryption protocols on the market to ensure the only person that can see your data is you.</p>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
         <!--==================== N9 ====================-->
         <div class="services__content">
            <div>
                <i class="uil uil-user-circle services__icon"></i>
                <h3 class="services__title">Use a <br> password manager</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Use a <br> password manager</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>The number of password leaks that occur when websites are hacked makes it very dangerous to reuse the same password for a range of different sites.</p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>To prevent password leaks from being too damaging, you need to use unique passwords on every website. These should also be strong passwords – long, unpredictable passwords that contain numbers and symbols</p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>However, remembering strong passwords for all those different passwords is almost impossible – that’s where a password manager comes in. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>They encrypt and securely store your login information for all the websites you used and help you log in automatically – leaving you to remember just the one master password.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
         <!--==================== N10 ====================-->
         <div class="services__content">
            <div>
                <i class="uil uil-virus-slash services__icon"></i>
                <h3 class="services__title">Ensure you have<br> up-to-date antivirus <br> & firewall protection </h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                View more
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Ensure you have<br> up-to-date antivirus <br> & firewall protection </h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>You need antivirus and firewall protection software on your computer no matter how carefully you browse the web or how smart you think you are about the links you click and the files you open</p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Threats can be hidden in even in the most reputable websites or files from the most trusted of sources and ensuring you are protected with a smart antivirus platform is well worth a small investment in time to ensure you are protected. </p>
                        </li>

                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>The most reputable antivirus software solutions currently available, use big data and AI to monitor every running application and detect attacks before they happen.</p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
            </div>
        </section>
        <!--==================== Vulnerabilities ====================-->
        <section class="portfolio section" id="portfolio">
            <h2 class="section__title">The Top 10 Vulnerabilities</h2>
            <span class="section__subtitle">Loreum Ipsum</span>

            <div class="portfolio__container container swiper-container">
                <div class="swiper-wrapper">

                    <!-- Vulnerability 1 -->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="{%static 'assets/img/pexels-tima-miroshnichenko-5380664.jpg' %}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">SQL Injection</h3>
                            <p class="portfolio__description">Injection or SQL injection is a technique that can be used by malicious external entities to send invalid data to the web applications to make them malfunction and do something they were not intentionally intended to do. </p>
                            <a href="index1.html" class="button button--flex button--small portfolio__button">
                                Read More
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Vulnerability 2 -->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="{%static 'assets/img/pexels-cottonbro-5483077.jpg' %}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Broken Authentication Vulnerability</h3>
                            <p class="portfolio__description">If this vulnerability exists in a system, the attacker can gain control over select user accounts or even complete administrative control over the system using manual or automatic means.</p>
                            <a href="index2.html" class="button button--flex button--small portfolio__button">
                                Read More
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                      <!-- Vulnerability 3 -->
                      <div class="portfolio__content grid swiper-slide">
                        <img src="{%static 'assets/img/pexels-danny-meneses-943096.jpg' %}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Sensitive Data Exposure</h3>
                            <p class="portfolio__description">Sensitive data exposures when an organization accidentally exposes personal data of its users. Also known as data breach, these are one of the most wide-spread vulnerabilities. </p>
                            <a href="index3.html" class="button button--flex button--small portfolio__button">
                                Read More
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                      <!-- Vulnerability 4 -->
                      <div class="portfolio__content grid swiper-slide">
                        <img src="{%static 'assets/img/pexels-mati-mango-6330644.jpg' %}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">XML External Entities (XXE)</h3>
                            <p class="portfolio__description">An XML External Entities attack or XXE attack for short is a type of attack that is done against those web applications that parse XML input.</p>
                            <a href="index4.html" class="button button--flex button--small portfolio__button">
                                Read More
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                      <!-- Vulnerability 5 -->
                      <div class="portfolio__content grid swiper-slide">
                        <img src="{%static 'assets/img/pexels-neo-2653362.jpg' %}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Broken Access Control</h3>
                            <p class="portfolio__description">In cyber security, Access control means to put a limit to what areas a particular user or visitor can access depending upon their needs and levels. </p>
                            <a href="index5.html" class="button button--flex button--small portfolio__button">
                                Read More
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                      <!-- Vulnerability 6 -->
                      <div class="portfolio__content grid swiper-slide">
                        <img src="{%static 'assets/img/pexels-olia-danilevich-4974912.jpg' %}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Security Misconfigurations</h3>
                            <p class="portfolio__description">Security misconfiguration may be defined as the failure to implement all the security controls for a server or web application, or implementing the security controls but doing so with errors. </p>
                            <a href="index6.html" class="button button--flex button--small portfolio__button">
                                Read More
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>
                        <!-- Vulnerability 7 -->
                        <div class="portfolio__content grid swiper-slide">
                            <img src="{%static 'assets/img/pexels-pixabay-159299.jpg' %}" alt="" class="portfolio__img">

                            <div class="portfolio__data">
                                <h3 class="portfolio__title">Cross-Site Scripting (XSS)</h3>
                                <p class="portfolio__description">Cross Site Scripting (XSS) is a widespread vulnerability that affects many web applications. XSS attacks consist of injecting malicious client-side scripts into a website and using the website as a propagation method. </p>
                                <a href="index7.html" class="button button--flex button--small portfolio__button">
                                    Read More
                                    <i class="uil uil-arrow-right button__icon"></i>
                                </a>
                            </div>
                        </div>
                            <!-- Vulnerability 8 -->
                      <div class="portfolio__content grid swiper-slide">
                        <img src="{%static 'assets/img/pexels-luis-gomes-546819.jpg' %}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Insecure Deserialization</h3>
                            <p class="portfolio__description">Insecure deserialization also known as untrusted deserialization is a serious vulnerability and a major contributor to application security issues potentially affecting most modern systems.  </p>
                            <a href="index8.html" class="button button--flex button--small portfolio__button">
                                Read More
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>
                        <!-- Vulnerability 9 -->
                        <div class="portfolio__content grid swiper-slide">
                            <img src="{%static 'assets/img/pexels-vitaly-vlasov-1342460.jpg' %}" alt="" class="portfolio__img">

                            <div class="portfolio__data">
                                <h3 class="portfolio__title">Using Components with Known Vulnerabilities</h3>
                                <p class="portfolio__description">This category of threats are applicable to all those websites that have a lot of dependencies or have legacy module dependant structure which may cause hinderance to regular updating cycles. </p>
                                <a href="index9.html" class="button button--flex button--small portfolio__button">
                                    Read More
                                    <i class="uil uil-arrow-right button__icon"></i>
                                </a>
                            </div>
                        </div>
                            <!-- Vulnerability 10 -->
                      <div class="portfolio__content grid swiper-slide">
                        <img src="{%static 'assets/img/pexels-markus-spiske-177598.jpg' %}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Insufficient Logging and Monitoring</h3>
                            <p class="portfolio__description">The importance of securing a website cannot be overstated enough. </p>
                            <a href="index10.html" class="button button--flex button--small portfolio__button">
                                Read More
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>


                </div>

                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
                </div>

                <div class="swiper-pagination"></div>

            </div>

        </section>

        <!--==================== eXTRA ====================-->
        <section class="project section">

            <div class="project__bg">

            </div>

        </section>




    <!--==================== FOOTER ====================-->
    <footer class="footer">

        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">The Cybernation Project</h1>
                    <span class="footer__subtitle"></span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#about" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#owasp" class="footer__link">OWASP</a>
                    </li>
                    <li>
                        <a href="#services" class="footer__link">Netizens</a>
                    </li>
                </ul>


            </div>

            <p class="footer__copy">&#169; Created by Edit 10 and Meraki Lab - 2021. All rights reserved.</p>
        </div>

    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>


    <!--==================== SWIPER JS ====================-->
    <script src="{%static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--==================== MAIN JS ====================-->
    <script src="{%static 'assets/js/main.js' %}"></script>
</body>

</html>
