{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/top10.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/owasp-homepage.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body class="p-3 mb-2 hello">
<!-- ******************************NAVBAR***************************************************-->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="resize" src="{% static 'css/logo.png' %}" alt=""></a>
            <ul class="navbar navbar-nav navbar-brand">
              <li> <h1> <span style="padding: 6px; border: 4px dotted #2EC4B6; background-color:#FFBF69">  CYBERNATION  </h1></li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><strong>Home</strong></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'owasp_homepage' %}"><strong>OWASP</strong></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <strong>The Top 10 Vulnerabilities</strong>
              </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{% url 'one' %}">SQL Injection</a></li>
      <li><a class="dropdown-item" href="{% url 'two' %}">Broken Authentication Vulnerability</a></li>
      <li><a class="dropdown-item" href="{% url 'three' %}">Sensitive Data Exposure</a></li>
      <li><a class="dropdown-item" href="{% url 'four' %}">XML External Entities (XXE)</a></li>
      <li><a class="dropdown-item" href="{% url 'five' %}">Broken Access Control</a></li>
      <li><a class="dropdown-item" href="{% url 'six' %}">Security Misconfigurations</a></li>
      <li><a class="dropdown-item" href="{% url 'seven' %}">Cross-Site Scripting (XSS)</a></li>
      <li><a class="dropdown-item" href="{% url 'eight' %}">Insecure Deserialization</a></li>
      <li><a class="dropdown-item" href="{% url 'nine' %}">Using Components with Known Vulnerabilities</a></li>
      <li><a class="dropdown-item" href="{% url 'ten' %}">Insufficient Logging and Monitoring</a></li>
<!-- add the name sof the vulnerabilities to the drop down menu-->
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'netizens' %}"><strong>For Netizens</strong></a>
        </li>
      </ul>
    </div>
  </nav>
<!-- ******************************NAVBAR***************************************************-->
<!-- makes sure that the jumbotron does not get hidden behind fixed navbar-->

<!-- ******************************CODING THAT IS PAGE SPECIFIC STARTS HERE************************** -->
<br><br><br><br><br>
<h1> #9 Using Components with Known Vulnerabilities
 </h1>
<div class="jumbotron white">
    <p> This category of threats are applicable to all those websites that have a lot of dependencies or have legacy module dependant structure which may cause hinderance to regular updating cycles. Failing to update your system dependencies may result in the web application running outdated modules with less stringent security provisions thereby making them easier targets for malicious attacks.
There are many reasons why an organization may be unable to update their application dependencies as and when they roll out. Two of the most common ones are: (1) Web masters and developers cannot keep up with the pace of updates as updating properly does take a lot of time and (2) Legacy code does not work on newer versions of its dependencies. Whatever may be the reason for not having up to date modules, this decision allows unknown vulnerabilities to persist in the system which may be manipulated by cyber criminals to launch attacks.
</p>
</div>
<div class="jumbotron lightblue">
  <p>In cases where it is not possible to run the most up to date software dependencies, OWASP recommends using virtual patching for the cases where patching up is not possible. This technique allows outdated websites to be protected from attacks by using firewalls and intrusion detection systems.
</p>
</div>
<div class="jumbotron aqua">

  <p>According to OWASP, some of the ways to prevent suing components with known vulnerabilities are:

Remove all unnecessary dependencies.
Have an inventory of all your components on the client-side and server-side.
Monitor sources like Common Vulnerabilities and Disclosures (CVE) and National Vulnerability Database (NVD) for vulnerabilities in the components.
Obtain components only from official sources.
Get rid of components not actively maintained and use virtual patching.

</p>

</div>

<br>
<div class="footer">
  <p> Created By Harshita Chadha @2021</p>
</div>
  </body>
</html>
