{% load static %}<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/top10.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/owasp-homepage.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body class="p-3 mb-2 hello">
<!-- ******************************NAVBAR***************************************************-->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="resize" src="{% static 'css/logo.png' %}" alt=""></a>
            <ul class="navbar navbar-nav navbar-brand">
              <li> <h1> <span style="padding: 6px; border: 4px dotted #2EC4B6; background-color:#FFBF69">  CYBERNATION  </h1></li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><strong>Home</strong></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'owasp_homepage' %}"><strong>OWASP</strong></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <strong>The Top 10 Vulnerabilities</strong>
              </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{% url 'one' %}">SQL Injection</a></li>
      <li><a class="dropdown-item" href="{% url 'two' %}">Broken Authentication Vulnerability</a></li>
      <li><a class="dropdown-item" href="{% url 'three' %}">Sensitive Data Exposure</a></li>
      <li><a class="dropdown-item" href="{% url 'four' %}">XML External Entities (XXE)</a></li>
      <li><a class="dropdown-item" href="{% url 'five' %}">Broken Access Control</a></li>
      <li><a class="dropdown-item" href="{% url 'six' %}">Security Misconfigurations</a></li>
      <li><a class="dropdown-item" href="{% url 'seven' %}">Cross-Site Scripting (XSS)</a></li>
      <li><a class="dropdown-item" href="{% url 'eight' %}">Insecure Deserialization</a></li>
      <li><a class="dropdown-item" href="{% url 'nine' %}">Using Components with Known Vulnerabilities</a></li>
      <li><a class="dropdown-item" href="{% url 'ten' %}">Insufficient Logging and Monitoring</a></li>
<!-- add the name sof the vulnerabilities to the drop down menu-->
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'netizens' %}"><strong>For Netizens</strong></a>
        </li>
      </ul>
    </div>
  </nav>
<!-- ******************************NAVBAR***************************************************-->
<!-- makes sure that the jumbotron does not get hidden behind fixed navbar-->

<!-- ******************************CODING THAT IS PAGE SPECIFIC STARTS HERE************************** -->
<br><br><br><br><br>
<h1> #1 Injection </h1>
<div class="jumbotron white">
    <p> Injection or SQL injection is a technique that can be used by malicious external entities to send invalid data to the web applications to make them malfunction and do something they were not intentionally intended to do. This vulnerability is most often associated with those web applications that are linked to a database in the backend. This encompasses almost the entire spectrum of online applications as almost all of them are data driven these days.

The injection attack most commonly happens when SQL queries which are generated by the website to access the abstract database are tampered with and made to consume untrusted data. This situation arises when the data consumed by the web applications is not validated or sanitized.
</p>
</div>
<div class="jumbotron lightblue">
  <p>This is arguably one of the most commonly used web application attack techniques. All those website operations that accept parameters as inputs are vulnerable to the SQL injection attack. The database query that is to be sent by the application to the remote or cloud-based database is carefully manipulated and recrafted into a malicious statement.

  To understand how this technique is used to launch attacks on web applications it is important to understand that whenever any information is fetched or entered into the system, a SQL query is generated. During the injection attack, it is this generated query that is tampered with. It is also important to understand that changes can only be made to the input that is given to the application and not the underlying query itself as the hacker does not, in this case, has access to the website’s source code. When the query evaluates to true, the data is suitably fetched and displayed. If it evaluates to false, an error is thrown.
  </p>
</div>
<div class="jumbotron aqua">
  <p>The input is manipulated in a manner so that the resultant query is altered, and the malicious query thus generated can fetch the desired results to the hacker. One of the most commonly used techniques in this case is the usage of the OR logic gate function. This function and the effect it has on the query is illustrated in the figure below:
</p>
  <table>
    <thead>
      <th>Original Query</th>
      <th>Malacious Query</th>
    </thead>
    <tr >
      <td>Select * from users <br>
  Where <br>
  username=’abc’ <br>
  And <br>
  password=’123’ <br>
  </td>
  <td>
    Select * from users<br>
    Where <br>
    username=’’OR 1=1--' <br>
    And <br>
    password=’123’ <br>
  </td>
    </tr>
  </table>
  Figure 1: The OR function to launch Injection attack
  <p>In the example in the above illustration, the web application prompts the user to enter the username and password. If the username entered and the corresponding password are found in the database by the generated query, it evaluates to true and the data is fetched. Otherwise an error is thrown. When the OR logic function is used along with the condition 1=1, the query always evaluates to true since, 1=1 is always true. Moreover, the double dashes and quotation mark at the end of the malicious statement comment out the rest of the query thereby making the password matching obsolete for that cycle. Thus, in this case, a true flag is generated as the result of the query and the data is returned by database and displayed without the proper credentials making the hack successful.

  The injection technique is most commonly used to control application behavior based on the data in the database, for instance tricking an application into allowing a login without a valid password. This attack may also be used to alter data in the database without authorization, for example by creating fraudulent records and adding users or promoting existing users to higher access levels. This may also be used to delete data from the database. Another application is in accessing data without authorization, for instance by tricking the database into providing too many results for a given query.
  </p>

</div>
<div class="jumbotron lightblue">
  <p>Some of the suggestions that can be given to developers to prevent SQL injection attacks are:
Escaping all user supplied input: This helps to circumvent inputs where the user enters specific characters or words that may be malicious in nature and have risks associated with the. Escaping a character tells the database not to parse it as a command but instead to treat is as a literal input.
Enforcing least privilege: Herein, the exposure to injection vulnerability is reduced by limiting permissions to the narrowest scope required to execute the relevant query. In other words, this means that an administrative account should not be allowed to execute SQL commands as a result of an API call from an unauthorized request.

  </p>
</div>
<div class="jumbotron white">
  <p> Cybernation Project comes with a utility page that helps simulate for the user a SQL injection susceptible environment. Clicking on the button below, redirects the user to a login page where the correct
  credentials are added to log in. A combination of malacious code however may also be used to achieve this. The solutions to the challenge are not publically available as it is meant to be a challenge. Have fun hacking!</p>
  <a href="{% url 'form' %}"><button type="button" class="btn mustard space">Get Hacking!</button></a>

</div>
<br>
<div class="footer">
  <p> Created By Harshita Chadha @2021</p>
</div>
  </body>
</html>
