<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="assets/css/design.css">
  

    <title>Insufficient Logging and Monitoring</title>
</head>
<body>
    <div class="outer">
        <h1>#10 Insufficient Logging and Monitoring</h1>
        <article>
            <h2>Insufficient Logging and Monitoring</h2>
            <section>
                <p>The importance of securing a website cannot be overstated enough. That being said, it is also not realistic to aim for 100% security as there are always bound to be some vulnerabilities and unsecure end points in one’s web applications. The best possible course of action that can be adopted by any organisation is to keep monitoring the application and to take prompt action in case of any security breach or attack. Insufficient logging and monitoring can be dangerous as attackers rely on the lack of monitoring cycles and delayed responses to achieve their goals. Thus keeping audit logs are important for any web application. Audit logs are documents that record events that take place in a web application. These logs allow to look for and spot anomalies and hence take prompt actions to prevent large scale harmful attacks on the system.</p> 

                
                <img src="assets/img/technology-vector.jpg" alt="Computer keyboard">

                <h3></h3>

                <p>To prevent security breaches owing to the lack of logging and monitoring, the following suggestions should be adopted: All login and data manipulation events and attempts should be logged into the systems central audit along with the associated user account details. These details should also be held in the memory of the system for sufficient amount of time so as to perform forensic operations in case of attacks. Generated logs should be present in an easily consumable format so that they can suitably be manipulated by the centralized log management solutions. High value transactions should have an audit trail with integrity controls to prevent illegal operations. Effective monitoring and alerting systems should be established so that suspicious activities are detected and dealt with timely. A suitable and robust response and recovery plan should be established well in advance.

                </p>
                <img src="assets/img/system-monitoring-checklist-good-ok-flat-color-icon-vector-148497454.jpg" alt="Computer keyboard">

                
            </section>

            
        </article>
    </div>
    <div class="container">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        
       <a href="login.html"><button >Get Hacking !</button></a> 
    </div>
    <footer class="footer">
       <div class="footer">
           <p>&#169; Created by Edit 10 and Meraki Lab - 2021. All rights reserved.</p>
       </div>
      </footer>
</body>
</html>